
body {
  background-color: #000;
  color: #fff;
  font-family: 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column; /* 使页面内容垂直排列 */
  justify-content: space-between; /* 确保底部固定，顶部不受影响 */
  min-height: 100vh; /* 页面最小高度为视口高度 */
  margin: 0;
}
.centered {
  text-align: center;
  flex-grow: 1; /* 让主内容区域占据剩余空间 */
  
}
a {
  color: #ccc;
  text-decoration: none;
  margin: 0 10px;
}
a:hover {
  color: #fff;
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column; /* 使 body 内的元素按列排列 */
  justify-content: space-between; /* 使元素均匀分布 */
  height: 100vh;
  margin: 0;
}

.centered {
  text-align: center;
  flex-grow: 1; /* 让主内容区域占据剩余空间 */
}

/* Footer 样式 */
footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer .social-links {
  font-size: 1.2em;
}

footer a {
  color: #ccc;
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  color: #fff;
}
