body {
  background-color: #000;
  color: #fff;
  font-family: 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column; /* 内容垂直排列 */
  justify-content: space-between; /* 内容间隔拉伸 */
  min-height: 100vh; /* 页面最小高度为100vh */
  margin: 0;
}

.centered {
  text-align: center;
  flex-grow: 1; /* 让这个部分占据剩余的空间 */
  display: flex;
  flex-direction: column;
  justify-content: center; /* 让内容在垂直方向上居中 */
}

a {
  color: #ccc;
  text-decoration: none;
  margin: 0 10px;
}

a:hover {
  color: #fff;
}

/* Footer 样式 */
footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
  width: 100%;
  position: relative;
  bottom: 0;
}

footer .social-links {
  font-size: 1.2em;
}

footer a {
  color: #ccc;
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  color: #fff;
}
